[submodule "third_party/opendroneid-core-c"]
	path = third_party/opendroneid-core-c
	url = https://github.com/opendroneid/opendroneid-core-c.git
[submodule "third_party/mavlink_c_library_v2"]
	path = third_party/mavlink_c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
