CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_NIMBLE_EXT_ADV=y
CONFIG_BT_NIMBLE_MAX_EXT_ADV_INSTANCES=2
CONFIG_BT_NIMBLE_EXT_ADV_MAX_SIZE=31
CONFIG_REMOTEID_TRANSPORT_BLE=y
CONFIG_REMOTEID_TRANSPORT_WIFI_BEACON=n
CONFIG_REMOTEID_TRANSPORT_WIFI_NAN=n
CONFIG_REMOTEID_BLE_TX_POWER_P9=y
